/**
    HOMEPAGE
**/
.intro {
    text-align: center;
    
}
#wc {
    font-size: 100px;
}
#to {
    font-size: 60px;
}
.intro h1 {
    font-size: 50px
}
.quote1 {
    text-align: center;
}
.quote1 h2 {
    font-size: 30px;
}
/**
    ABOUTPAGE
**/

/**
    ADVOCACYPAGE
**/

/**
    GALLERYPAGE
**/