body {
	background-color: ;
	background: linear-gradient(to bottom right, #80ffaa 10%, #99ffd6 50%, #99ff99);
}

h1{
	color: #ffffff;
}

a{
	color: #ffab77;
}

.quote{
	color: #ffbf80;
}

.title{
	color: 
}
