/* HOME PAGE */
.title h1 {
	font-size: 100px;
	text-align: left;
	margin: 0;
	padding: 0;
	line-height: 200px;
}
.read {
	border-radius: 15px;
	border: 0.5px solid #5f5834;
}
.read:hover {
	background-color: #5f5834;
	transition: 0.5s;
}
.read a p:hover {
	color: #e1e1d5;
	font-size: 40px;
	transition: 0.5s;
}
.read a p:active {
	font-size: 30px;
	transition: 0.1s;
}
.read p {
	margin: auto;
	padding: 30px;
}
.read a {
	text-decoration: none;
}

/* ABOUT PAGE */
.advocacy h2 {
	text-align: center;
}
/* ORG PAGE */
.org h2 {
	text-align: center;
}
#chairman {
	font-size: 30px;
}
#co-chairman {
	font-size: 30px;
}
#members {
	font-size: 30px;
}
.chairman {
	margin: auto;
	margin-top: 10px;
	width: 50%;
	min-width: 250px;
}
.co-chairman {
	margin: auto;
	margin-top: 10px;
	width: 50%;
	min-width: 250px;
}
.main {
	text-align: center;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 60%;
	min-width: 250px;
}
.one, .two {
	margin: auto;
	margin-bottom: 10px;
	width: 400px;
}
.one {
	display: inline-block;
	clear: both;

}
.two {
	display: inline-block;
}
.content p {
	line-height: 50px;
}
/* MV PAGE */
.mission, .vision {
	float: left;
	width: 600px;
	height: 500px;
	margin: 58px;
}
.
.mission {
	text-align: center;
}
.vision {
	text-align: center;
	margin-bottom: 10px;
}
.mission p, .vision p {
	line-height: 50px;
}
/* GALLERY PAGE */
.entry {
	width: 220px;
	height: 198px;
	margin: 10px;
	float: left;
	border: 1px solid;
}
figure {
	padding: 10px;
	margin: 0;
	display: block;
	text-align: left;
}
figure img {
	width: 200px;
	height: 150px;
	margin-top: 15px;
}